<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Weather Display Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/my_style.css">
</head>
<body>
	<div class="container">
		<header class="header">
			<div class="search">
				<input type="text" id="search-txt" placeholder="Enter City Name">
				<a id="search-btn" href="#"><i class="fa fa-search"></i></a>
			</div>
		</header>

		<video src="https://media.giphy.com/media/dI3D3BWfDub0Q/giphy.gif" autoplay loop></video>

		<main>
			

			<div id="city_name"></div><br>

			<div id="temp"></div>
		</main>
	</div>

	<div class="container">
		<h3 class="display-3" id="labelWeather">CHOOSE YOUR WEATHER</h3>
	</div>

	<div class="container">
		<div class="row">

			<!-- TODO: convert the <a> tags to button tags -->
			<!-- to control size of fa fa: use fa-(size) in class tag -->
			<div class="col">
				<button class="btn btn-outline-dark" id="currLocation"><i class="fa fa-map-marker fa-3x" aria-hidden="true" ></i></button>
				<p style="text-align:center" id="label">Current Location</p>
			</div>
			<div class="col">
				<button class="btn btn-outline-dark" id="rain"><i class="fa fa-tint fa-3x"></i></button>
				<p id="label" style="text-align: center">Rain</p>
			</div>
			<div class="col">
				<button class="btn btn-outline-dark" id="thunderstorm"><i class="fa fa-bolt fa-3x"></i></button>
				<p id="label" style="text-align: center">Thunderstorm</p>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col">
				<button class="btn btn-outline-dark" id="snow"><i class="fa fa-snowflake-o fa-3x"></i></button>
				<p id="label" style="text-align:center">Snow</p>
			</div>
			<div class="col">
				<button class="btn btn-outline-dark" id="clear"><i class="fa fa-sun-o fa-3x"></i></button>
				<p id="label" style="text-align: center">Clear</p>
			</div>
			<div class="col">
				<button class="btn btn-outline-dark" id="cloudy"><i class="fa fa-cloud fa-3x"></i></button>
				<p id="label" style="text-align: center">Cloudy</p>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>
