html, body {
  margin: 0;
}

@font-face {
	font-family: "Simplifica";
	src: url("../fonts/SIMPLIFICA/SIMPLIFICA Typeface.ttf");
}

body {
  background-color: #3c3c3c;
}

.location, .displayWeather {
  min-height: 100vh;
  display: flex;
	-ms-flex-pack: center;
			justify-content: center;
	-ms-flex-align: center;
			align-items: center;
}

.location form, .displayWeather form {
	width: 100%;
	max-width: 500px;
}

.location form legend {
	font-family: "Simplifica";
	font-weight: 500;
	font-size: 100px;
	color: rgb(65, 123, 224);
	text-align: center;
	margin-bottom: 15px;
}

.location form .inner-location {
	width: 100%;
}

.location form .inner-location .input-field {
	height: 50px;
	width: 100%;
	position: relative;
}

#search-txt {
	background-color: transparent;
	color: rgb(65, 123, 224);
	outline: none;
	outline-style: none;
	outline-offset: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid rgb(65, 123, 224) 1px;
	text-align: center;
	padding: 3px 80px;
  margin-left: 80px;
	position: relative;
  text-transform: uppercase;
}

.sbtn {
	position: center;
	-ms-flex-align: center;
			align-tems: center;
	color: rgb(65, 123, 224);
}

.sbtn:hover {
	outline: 0;
	box-shadow: none;
	fill: RoyalBlue;
}

.displayWeather {
  background-color: #b4b4b4;
}

#city_name {
  text-align: center;
  font-size: 40px;
}

#temp, #weather {
  text-align: center;
  font-weight: 400;
}

.parent {
  text-align: center;
}

.weather {
  transition-duration: 0.2s;
  height: 125px;
  width: 125px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
}

.weather:hover {
  background-color: black;
  color: #b4b4b4;
}

.weather i {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

#label {
  font-family: "Simplifica";
	font-size: 20px;
  color: black;
  text-align: center;
  letter-spacing: 2px;
}
